.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animation-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 200px; /* Ajuste conforme necessário */
  display: flex;
  align-items: center;
  justify-content: center;
}

.moving-image {
  width: 250px; /* Ajuste para o tamanho desejado */
  height: auto; /* Mantém a proporção */
  position: absolute;
  left: -250px;
  animation: moveImage 5s linear infinite;
}

@keyframes moveImage {
  from {
    left: -200px;
  }
  to {
    left: 100%;
  }
}

.header {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100px; /* Ajuste conforme necessário */
  font-size: 2.5rem; /* Aumenta o tamanho do texto */
  font-weight: bold;
  background-color: #282c34;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  text-align: center; /* Garante que o texto fique centralizado */
  height: 200px; /* Ajuste conforme necessário */
  margin-top: 20px; /* Dá um espaço abaixo do header */
}

.content h1 {
  font-size: 2rem;
  color: #333; /* Ajuste a cor conforme necessário */
}

.content p {
  font-size: 1.2rem;
  color: #666; /* Ajuste a cor conforme necessário */
}

